* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  width: 80%;
  margin: 0 auto;
}
.styled-table {
  border-collapse: collapse;
  /* border: 1px solid #009879; */
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: all 0.2s ease;
  cursor: pointer;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:hover {
  background-color: #4ae97f;
}
/* .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.active-row {
  font-weight: bold;
  color: #009879;
}
